*{
    margin:0;
    padding:0;
}

container 
{
    background-color: blueviolet;
    color: aliceblue;
}

container2 
{
    background-color: aquamarine;
    color:aliceblue;
}

#main 
{
    height:200px;
    width:100%;
    border: 1px solid blanchedalmond;
    background-color: brown;
    color:beige;
    font-size:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p 
{
    color:chocolate;
    font-size:15px;
    letter-spacing:3px;
    word-spacing: 30px;
}